@model Covid_19_Tracker.Entites.CasPositif

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CasPositif</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date_Declaration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date_Declaration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date_Dernier_Contact)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date_Dernier_Contact)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre_Contacts)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre_Contacts)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prenom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CIN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CIN)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sexe)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sexe)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroTel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumeroTel)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
