@model Covid_19_Tracker.Entites.FicheSuivi

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FicheSuivi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Temp_M)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Temp_M)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Temp_S)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Temp_S)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Toux_M)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Toux_M)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Toux_S)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Toux_S)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
