@model IEnumerable<Covid_19_Tracker.Entites.FicheSuivi>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Temp_M)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Temp_S)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Toux_M)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Toux_S)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Temp_M)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temp_S)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Toux_M)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Toux_S)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
